# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

*.err

AutoValidation/*.cron
AutoValidation/*.sh

# Output Directories
AutoValidation/ExpressCosmics/
AutoValidation/ExpressCosmics_0T/
AutoValidation/ExpressPhysics/
AutoValidation/ExpressPhysics_0T/
AutoValidation/Cosmics/
AutoValidation/Cosmics_0T/
AutoValidation/SingleMu/
AutoValidation/SingleMuon/
AutoValidation/SingleMuon_0T/
AutoValidation/DoubleMu/
AutoValidation/MinimumBias/
AutoValidation/DoubleMuon/
AutoValidation/HIExpressPhysics/
AutoValidation/HIExpressPhysics_0T/
AutoValidation/HIPhysicsMuon/
AutoValidation/SingleMuHighPt/
AutoValidation/SingleMuLowPt
